USE [master]
GO
/****** Object:  Database [SportTrainDB]    Script Date: 25.05.2023 9:32:47 ******/
CREATE DATABASE [SportTrainDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SportTrainDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SportTrainDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SportTrainDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SportTrainDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SportTrainDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SportTrainDB]
GO
/****** Object:  Table [dbo].[ExercisesTable]    Script Date: 25.05.2023 9:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExercisesTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TrainName] [nvarchar](50) NULL,
	[Date] [date] NULL,
	[Exercises] [nvarchar](max) NULL,
	[PathToVideo] [nvarchar](max) NULL,
 CONSTRAINT [PK_ExercisesTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HumanTable]    Script Date: 25.05.2023 9:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HumanTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](10) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Gender] [nvarchar](7) NOT NULL,
	[Role] [int] NOT NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[TrainName] [nvarchar](50) NULL,
	[UserResult] [nvarchar](50) NULL,
 CONSTRAINT [PK_Human] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingTable]    Script Date: 25.05.2023 9:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingTable](
	[TrainName] [nvarchar](50) NOT NULL,
	[TrainDescription] [nvarchar](500) NOT NULL,
	[TrainImage] [varbinary](max) NULL,
 CONSTRAINT [PK_TrainingTable] PRIMARY KEY CLUSTERED 
(
	[TrainName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExercisesTable]  WITH CHECK ADD  CONSTRAINT [FK_ExercisesTable_TrainingTable] FOREIGN KEY([TrainName])
REFERENCES [dbo].[TrainingTable] ([TrainName])
GO
ALTER TABLE [dbo].[ExercisesTable] CHECK CONSTRAINT [FK_ExercisesTable_TrainingTable]
GO
ALTER TABLE [dbo].[HumanTable]  WITH CHECK ADD  CONSTRAINT [FK_HumanTable_TrainingTable] FOREIGN KEY([TrainName])
REFERENCES [dbo].[TrainingTable] ([TrainName])
GO
ALTER TABLE [dbo].[HumanTable] CHECK CONSTRAINT [FK_HumanTable_TrainingTable]
GO
USE [master]
GO
